* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Georgia';
}

.section {
    max-width: 1280px;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.logo-link {
    text-decoration: none;
    color:#e0b89b;
    transition: all 0.2s;
}

.logo-link:active {
    color:#e49156;
}

.header-headline {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 0;
}

.header-description {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    letter-spacing: 0.1em;
    margin-top: 0.5rem;
    margin-bottom: 1.75rem;
    margin-left: 0.175rem;
}

.navigation {
    display: none;
}

.navigation-active-item {
    border-bottom: 3px solid #e0b89b;
    color:#FAFAFA;
}

.burger-menu {
    color: #e0b89b;
    font-size: 1.8rem;
    padding-top: 0.6rem;
}

.main-image, .puppy-image {
    display: block;
}

.our-friends-container {
    background: #F6F6F6;
}

.our-friends-title {
    margin: 0 auto;
    max-width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
}

.friend-pet {
    margin-bottom: 1.875rem;
    background: #FAFAFA;
    padding-bottom: 45px;
    text-decoration: none;
    transition: all 0.2s;
    border-radius: 9px;
    text-align: center;
}

.friend-pet:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.our-friends-pets {
    display: flex;
    justify-content: space-between;
}

.friend-pet-name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 1.5rem;
    margin-bottom: 45px;
}

.secondary-button {
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border: 2px solid #e0b89b;
    padding: 15px 45px;
    background: #FAFAFA;
    border-radius: 100px;
    font-family: 'Georgia';
    transition: all 0.2s;
}


.secondary-button:active {
    background: #e49156;
    border: 2px solid #e49156;
}

.footer {
    background: url(../img/background/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.footer-container {
    padding-top: 0.3125rem;
    text-align: center;
}

.contact {
    padding: 0 2.1875rem;
}

.contact-headline, .address-headline {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5625rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.address {
    margin-bottom: 2.5rem;
}

.address-headline {
    margin-bottom: 2.4375rem;
    margin-top: 2.5rem;
    margin-left: 1.625rem;
    margin-right: 1.6875rem;
}

.email-container {
    margin-bottom: 2.5rem;
}

.first-address {
    margin-bottom: 2.5rem;
}

.email, .phone-number, .first-address-location, .second-address-location {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color:#FDDCC4;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.email-text, .phone-text {
    margin-left: 20px;
}

.first-address-location,
.second-address-location {
    display: flex;
    letter-spacing: 0.06em;
    text-align: center;
}

.fa-location-dot {
    font-size: xx-large;
    color: #FDDCC4;
    margin-left: 0.5rem;
}

.first-address-text, .second-address-text {
    margin: 0 0.875rem 0 1.25rem;
}

.email-text,
.phone-text,
.first-address-text,
.second-address-text {
    transition: all 0.2s;
}


.email-text:active,
.phone-text:active,
.first-address-text:active,
.second-address-text:active {
    color:#e49156;
}

.puppy-image {
    width: 81%;
    margin-left: 1.6875rem;
}

@media only screen and (min-width: 768px) {
    .main-header {
        padding: 0 2rem 0 1.875rem;
    }

    .navigation {
        display: flex;
        font-family: 'Arial';
        font-size: 0.9375rem;
        margin-bottom: 0;
        color: #CDCDCD;
    }
    
    .navigation-item {
        text-decoration: none;
        color: #CDCDCD;
        transition: all 0.2s;
        margin-left: 2.1875rem;
        margin-right: 0;
        padding-bottom: 0.125rem;
    }
    
    .navigation-item:active {
        color: #e49156;
        border-bottom: 3px solid #e49156;
    }

    .burger-menu {
        display: none;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        padding: 2.5rem 2.5rem 0 2.5rem;
    }

    .contact-headline, .address-headline {
        font-size: 35px;
    }
    
    .email, .phone-number, .first-address-location, .second-address-location {
        font-size: 1.25rem;
    }
    
    .puppy-image {
        width: 100%;
    }

    .footer-container {
        flex-wrap: wrap;
        padding: 0;
        margin: 0 4rem 0 4rem;
    }

    .contact {
        width: 50%;
        padding: 0;
    }

    .contact-headline {
        text-align: start;
        margin-top: 1.9375rem;
        margin-left: 0;
        margin-right: 0.625rem;
    }

    .address {
        width: 50%;
    }

    .address-headline {
        text-align: start;
        margin-top: 1.9375rem;
        margin-left: 1.1875rem;
    }

    .first-address {
        margin-top: -0.5rem;
        margin-left: 0.4375rem;
    }

    .second-address {
        margin-top: -0.4375rem;
        margin-left: 0.4375rem;
    }

    .first-address-location,
    .second-address-location {
        text-align: left;
    }

    .first-address-text,
    .second-address-text {
        margin-right: 0;
    }

    .puppy-container {
        margin: 0;
        width: 100%;
    }

    .puppy-image {
        width: calc(100% - 340px);
        margin: 1.5rem auto 0;
    }
}

@media only screen and (min-width: 1280px) {
    .main-header {
        padding: 30px 40px 0 40px;
    }
    
    .navigation-item {
        margin-left: 30px;
        text-decoration: none;
        color: #CDCDCD;
        transition: all 0.2s;
    }
}

@media (hover: hover) {
    .logo-link:hover {
        color: #FDDCC4;
    }
    
    .navigation-item:hover {
        border-bottom: 3px solid #e0b89b;
        color:#FAFAFA;
    }
    
    .friend-pet:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .secondary-button:hover {
        background: #e0b89b;
    }

    .email-text:hover,
    .phone-text:hover,
    .first-address-text:hover,
    .second-address-text:hover {
        color: #e0b89b;
    }
  }