* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Georgia';
}

.section {
    max-width: 1280px;
    margin: 0 auto;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    position: relative;
}

.logo-link {
    text-decoration: none;
    color:#e0b89b;
    transition: all 0.2s;
}

.logo-link:active {
    color:#e49156;
}

.header-headline {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 0;
}

.header-description {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8125rem;
    line-height: 0.9375rem;
    letter-spacing: 0.1em;
    margin-top: 0.5rem;
    margin-bottom: 1.75rem;
    margin-left: 0.175rem;
}

.navigation {
    display: none;
}

.navigation-active-item {
    border-bottom: 3px solid #e0b89b;
    color:#FAFAFA;
}

.burger-menu {
    font-size: 1.8rem;
    padding-top: 0.6rem;
}

.burger-icon {
    color: #e0b89b;
    transition: transform 0.2s ease-in;
}

.burger-wrapper {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(41, 41, 41, 0.6);
}

.burger-content {
    height: 100%;
    max-width: 100vw;
    position: absolute;
    right: 0;
    background-color: #292929;
    animation-name: burger-content-animation;
    animation-duration: 0.2s;
    animation-direction: reverse;
    animation-fill-mode: both;
}

@keyframes burger-content-animation {
    from {width: 0;}
    to {width: 20rem;}
}

.visible-burger {
    overflow: hidden;
}

.visible-burger .burger-icon {
    z-index: 1;
    position: relative;
    transform: rotate(90deg);
}

.visible-burger .burger-content {
    animation-name: burger-content-animation;
    animation-duration: 0.2s;
    animation-direction: normal;
    animation-fill-mode: both;
    overflow-y: auto;
}

.burger-items {
    margin-left: 39px;
    margin-top: 256px;
    font-size: 35px;
    margin-right: 38px;
    text-align: center;
}

.burger-item {
    color: #CDCDCD;
    padding-bottom: 5px;
    margin-bottom: 49px;
    display: block;
    text-decoration: none;
    font-size: 32px;
    font-family: Arial;
}

.burger-active-item {
    color: #FAFAFA;
}

.main-image, .puppy-image {
    display: block;
}

.our-friends-container {
    background: #F6F6F6;
}

.our-friends-title {
    margin: 0 auto;
    max-width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
}

.friend-pet {
    margin-bottom: 1.875rem;
    background: #FAFAFA;
    padding-bottom: 45px;
    text-decoration: none;
    transition: all 0.2s;
    border-radius: 9px;
    text-align: center;
}

.friend-pet:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.our-friends-pets {
    display: flex;
    justify-content: center;
}

.friend-pet-name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 1.5rem;
    margin-bottom: 45px;
}

.secondary-button {
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border: 2px solid #e0b89b;
    padding: 15px 45px;
    background: #FAFAFA;
    border-radius: 100px;
    font-family: 'Georgia';
    transition: all 0.2s;
}


.secondary-button:active {
    background: #e49156;
    border: 2px solid #e49156;
}

.footer {
    background: url(../img/background/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.footer-container {
    padding-top: 0.3125rem;
    text-align: center;
}

.contact {
    padding: 0 2.1875rem;
}

.contact-headline, .address-headline {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5625rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.address {
    margin-bottom: 2.5rem;
}

.address-headline {
    margin-bottom: 2.4375rem;
    margin-top: 2.5rem;
    margin-left: 1.625rem;
    margin-right: 1.6875rem;
}

.email-container {
    margin-bottom: 2.5rem;
}

.first-address {
    margin-bottom: 2.5rem;
}

.email, .phone-number, .first-address-location, .second-address-location {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color:#FDDCC4;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.email-text, .phone-text {
    margin-left: 20px;
}

.first-address-location,
.second-address-location {
    display: flex;
    letter-spacing: 0.06em;
    text-align: left;
}

.fa-location-dot {
    font-size: xx-large;
    color: #FDDCC4;
    margin-left: 0.5rem;
}

.first-address-text, .second-address-text {
    margin: 0 0.875rem 0 1.25rem;
}

.email-text,
.phone-text,
.first-address-text,
.second-address-text {
    transition: all 0.2s;
}


.email-text:active,
.phone-text:active,
.first-address-text:active,
.second-address-text:active {
    color:#e49156;
}

.puppy-image {
    width: 81%;
    margin-left: 1.6875rem;
}

.visible-pop-up {
    overflow: hidden;
}

.visible-pop-up .pet-wrapper {
    display: flex;
}

.pet-wrapper {
    background: rgba(41, 41, 41, 0.6);
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    align-items: center;
    display: none;
}

.fa-xmark {
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #e0b89b;
    width: 52px;
    height: 52px;
    line-height: 52px;
    transition: all 0.2s;
    position: absolute;
    top: -60px;
    right: -28px;
}

.pet-popup {
    margin-left: 40px;
    margin-right: 40px;
    max-width: 900px;
    background: #FAFAFA;
    border-radius: 9px;
    display: flex;
    align-items: center;
    position: relative;
}

.pet-image-container {
    display: none;
}

.pet-image {
    width: 100%;
    display: block;
}

.pet-content {
    text-align: left;
    margin: 12px;
    text-align: center;
}

.pet-name {
    font-size: 35px;
    margin-bottom: 10px;
    letter-spacing: 0.06em;
}

.pet-breed {
    font-size: 20px;
    margin-bottom: 20px;
    letter-spacing: 0.06em;
}

.pet-text {
    margin-bottom: 24px;
    letter-spacing: 0.06em;
    font-size: 13px;
    line-height: 110%;
    text-align: justify;
}

.pet-age,
.inoculations,
.deseases,
.parasites {
    font-size: 15px;
    letter-spacing: 0.06em;
}

.pet-information {
    padding-left: 15px;
    list-style: none;
    text-align: left;
}

.information-item {
    margin-bottom: 4px;
}

.information-item-field {
    margin-right: 5px;
}

.pet-information .information-item::before {
    content: "\2022";
    color: #F1CDB3;
    font-weight: bold;
    display: inline-block;
    width: 1em; 
    margin-left: -1em;
  }

@media only screen and (min-width: 768px) {
    .main-header {
        padding: 0 2rem 0 1.875rem;
    }

    .navigation {
        display: flex;
        font-family: 'Arial';
        font-size: 0.9375rem;
        margin-bottom: 0;
        color: #CDCDCD;
    }
    
    .navigation-item {
        text-decoration: none;
        color: #CDCDCD;
        transition: all 0.2s;
        margin-left: 2.1875rem;
        margin-right: 0;
        padding-bottom: 0.125rem;
    }
    
    .navigation-item:active {
        color: #e49156;
        border-bottom: 3px solid #e49156;
    }

    .burger-menu {
        display: none;
    }

    .our-friends-pets {
        justify-content: space-between;
    }
    
    .pet-popup {
        margin-left: 69px;
        margin-right: 69px;
        margin-top: calc(50vh - 175px);
        height: 350px;
    }

    .fa-xmark {
        top: -52px;
        right: -52px;
    }

    .pet-image-container {
        display: block;
        width: 60%;
        overflow: hidden;
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px;
    }

    .pet-content {
        width: 40%;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        padding: 2.5rem 2.5rem 0 2.5rem;
    }

    .contact-headline, .address-headline {
        font-size: 35px;
    }
    
    .email, .phone-number, .first-address-location, .second-address-location {
        font-size: 1.25rem;
    }
    
    .puppy-image {
        width: 100%;
    }

    .footer-container {
        flex-wrap: wrap;
        padding: 0;
        margin: 0 4rem 0 4rem;
    }

    .contact {
        width: 50%;
        padding: 0;
    }

    .contact-headline {
        text-align: start;
        margin-top: 1.9375rem;
        margin-left: 0;
        margin-right: 0.625rem;
    }

    .address {
        width: 50%;
    }

    .address-headline {
        text-align: start;
        margin-top: 1.9375rem;
        margin-left: 1.1875rem;
    }

    .first-address {
        margin-top: -0.5rem;
        margin-left: 0.4375rem;
    }

    .second-address {
        margin-top: -0.4375rem;
        margin-left: 0.4375rem;
    }

    .first-address-text,
    .second-address-text {
        margin-right: 0;
    }

    .puppy-container {
        margin: 0;
        width: 100%;
    }

    .puppy-image {
        width: calc(100% - 340px);
        margin: 1.5rem auto 0;
    }
}

@media only screen and (min-width: 1280px) {
    .main-header {
        padding: 0 43px 0 39px;
    }
    
    .navigation-item {
        margin-left: 35px;
    }

    .pet-popup {
        margin-left: auto;
        margin-right: auto;
        margin-top: calc(50vh - 250px);
        height: 500px;
    }

    .first-address-location,
    .second-address-location {
        text-align: center;
    }

    .footer-container {
        margin: 0 38px 0 41px;
        padding: 0;
        flex-wrap: nowrap;
    }

    .contact {
        margin-top: 57px;
        width: 33%;
    }

    .contact-headline {
        margin: 0 90px 39px 0;
    }

    .address {
        margin-top: 57px;
        padding-left: 36px;
        width: 33%;
    }

    .address-headline {
        margin: 0 90px 39px 0;
    }

    .first-address,
    .second-address {
        margin-left: 0;
    }

    .first-address-text,
    .second-address-text {
        text-align: left;
        margin-left: 1rem;
    }

    .fa-location-dot {
        margin-left: 0;
    }

    .puppy-container {
        width: 33%;
    }

    .puppy-image {
        width: auto;
        margin-top: 40px;
        margin-right: 0;
    }
}

@media (hover: hover) {
    .logo-link:hover {
        color: #FDDCC4;
    }
    
    .navigation-item:hover {
        border-bottom: 3px solid #e0b89b;
        color:#FAFAFA;
    }
    
    .friend-pet:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .fa-xmark:hover {
        background-color: #e0b89b;
    }

    .secondary-button:hover {
        background: #e0b89b;
    }

    .email-text:hover,
    .phone-text:hover,
    .first-address-text:hover,
    .second-address-text:hover {
        color: #e0b89b;
    }
  }