.header-container {
    background: url(../img/background/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.header-description {
    color:#FFFFFF;
}

.not-only {
    text-align: center;
    margin-top: 2rem;
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

.section-headline {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5625rem;
    line-height: 130%;
    color:#FFFFFF;
    margin: 0 1.5rem;
    letter-spacing: 0.06em;
}

.section-description {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 160%;
    color:#CDCDCD;
    margin-top: 2.625rem;
    margin-bottom: 3.5625rem;
}

.main-button {
    background: #FDDCC4;
    border-radius: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    font-family: 'Georgia';
    border: none;
    padding: 15px 45px;
    text-decoration: none;
    transition: all 0.2s;
}

.main-button:active {
    background: #e49156;
}

.image-container {
    margin-top: 7.5rem;
}

.main-image {
    display: block;
    width: 100%;
    padding-left: 2.5rem;
}

.about {
    margin-top: 2.625rem;
    text-align: center;
}

.about-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5625rem;
    line-height: 130%;
    color: #545454;
    letter-spacing: 0.06em;
    margin-top: 0;
}

.about-heading:first-child {
    margin-bottom: 0;
}

.about-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 160%;
    color: #4C4C4C;
    margin-left: 1.5625rem;
    margin-right: 1.5625rem;
    text-align: justify;
}

.about-text:first-of-type {
    padding-bottom: 1.375rem;
    margin-bottom: 0;
}

.second-text {
    margin-top: 0;
}

.about-image {
    width: 100%;
}

.about-image-container {
    margin: 2.625rem 1.875rem 2.25rem;
}

.our-friends {
    text-align: center;
    padding-bottom: 3.5625rem;
}

.our-friends-title {
    font-size: 1.5625rem;
    padding-top: 2.625rem;
}

.friend-pet {
    margin-left: 1.5625rem;
    margin-top: 2.625rem;
    margin-bottom: 1.25rem;
}

.second-pet {
    display: none;
}

.third-pet {
    display: none;
}

.friend-pet-arrow {
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #e0b89b;
    width: 52px;
    height: 52px;
    line-height: 52px;
    transition: all 0.2s;
}

.fa-arrow-right-long:active, .fa-arrow-left-long:active {
    background: #e49156;
    border: 2px solid #e49156;
}

.fa-arrow-left-long {
    margin-right: 5rem;
}

.pets-button-container {
    margin-top: 3.625rem;
}

.help {
    padding: 2.5rem 0.9375rem 0.75rem;
    text-align: center;
}

.help-title {
    margin: 0 auto;
    max-width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5625rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
}

.help-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.help-item {
    min-width: 8.125rem;
    margin-bottom: 0.5rem;
}

.help-item-img {
    height: 3.25rem;
}

.help-item-title {
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 1rem;
}

.in-addition {
    background: #F6F6F6;
    padding-top: 2.5625rem;
    padding-bottom: 0.5625rem;
}

.donation-container {
    margin: 0 auto;
    max-width: 915px;
    display: flex;
    flex-direction: column-reverse;
}

.donation-dog {
    padding-right: 30px;
}

.donation-information {
    text-align: center;
}

.donation-title {
    font-style: normal;
    font-weight: 400;
    font-size: 1.5625rem;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 0 1.5rem 0;
}

.donation-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 110%;
    color: #545454;
    margin: 0 1.4375rem 1.5625rem 1.5rem;
}

.card {
    display: flex;
    justify-content: space-evenly;
    background: #e0b89b;
    border-radius: 9px;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    margin: 0 1.25rem 1.25rem 1.25rem;
}

.card-link {
    text-decoration: none;
    color: #545454;
    transition: all 0.2s;
}

.card-link:active {
    text-decoration: none;
    color: #e49156;
}

.card-number {
    font-style: normal;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 115%;
    letter-spacing: 0.06em;
    margin: 0;
}

.donation-description {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    text-align: justify;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.donation-dog-image {
    width: calc(100% - 3.25rem);
    margin: 1.75rem 1.625rem;
}

@media only screen and (min-width: 768px) {
    .not-only {
        margin-left: 0;
        margin-top: 2.0625rem;
    }

    .information-container {
        margin-left: 9.625rem;
        margin-right: 8.625rem;
    }

    .section-headline {
        font-size: 2.75rem;
        text-align: start;
        margin-left: 0;
        margin-right: 0;
        letter-spacing: normal;
    }

    .section-description {
        font-size: 0.9375rem;
        text-align: start;
        margin-top: 2.5rem;
    }

    .not-only .main-button {
        margin-left: -0.375rem;
    }

    .image-container {
        margin-top: 7.75rem;
    }

    .main-image {
        width: calc(100% - 129px - 30px);
        margin-left: 129px;
    }

    .about {
        margin: 80px 0;
        text-align: center;
    }

    .about-description {
        margin-left: 169px;
        margin-right: 165px;
        text-align: start;
    }
    
    .about-heading {
        font-size: 35px;
        margin-bottom: 0;
    }

    .about-heading:first-of-type {
        padding-top: 0.125rem;
    }
    
    .about-text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 0.9375rem;
        line-height: 160%;
        color: #4C4C4C;
        margin: 23px 0 0 0;
        text-align: start;
        margin-right: 2px;
        padding-bottom: 2px
    }

    .second-text {
        margin-top: 0.1875rem;
    }

    .about-image-container {
        margin: 4.875rem 14.625rem 6.25rem;
    }

    .our-friends-container {
        padding-bottom: 3rem;
    }

    .our-friends {
        padding: 0;
    }

    .our-friends-title {
        font-size: 1.5625rem;
        padding-top: 4.825rem;
        font-size: 35px;
    }
    
    .our-friends-details {
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        margin: 60px 30px 0 30px;
    }

    .fa-arrow-left-long {
        margin-right: 0;
    }

    .our-friends-pets {
        flex-grow: 1;
        margin: 0;
    }

    .friend-pet {
        margin: 0 0.75rem;
    }

    .second-pet {
        display: block;
    }
    
    .fa-arrow-left-long {
        order: -1;
    }

    .pets-button-container {
        margin-bottom: 4.25rem;
        margin-top: 4.625rem;
    }

    .help-title {
        font-size: 35px;
    }
    
    .help {
        padding: 5rem 4.3125rem 2.875rem;
    }
    
    .help-item-title {
        font-size: 20px;
        margin-bottom: 1.33em;
    }

    .help-item-img {
        height: auto;
    }
    
    .help-items {
        margin-top: 3.625rem;
    }

    .help-item {
        min-width: 10.625rem;
    }

    .help-item-title {
        margin-top: 1.625rem;
        margin-bottom: 2.33em;
    }

    .in-addition {
        padding-top: 5rem;
        padding-bottom: 4.1875rem;
    }

    .donation-information {
        text-align: start;
        margin-left: 194px;
        margin-right: 194px;
    }

    .donation-title {
        font-size: 35px;
        margin-bottom: 19px;
    }

    .donation-subtitle {
        margin: 0 0 20px 0;
        letter-spacing: 0.06em;
    }

    .card-link {
        margin-left: -17px;
    }

    .card {
        margin: 0 1.875rem 1.25rem 0;
        justify-content: space-around;
    }

    .card-number {
        font-size: 20px;
    }

    .donation-description {
        text-align: start;
        margin-left: 0;
    }

    .donation-dog {
        text-align: center;
        margin-top: 1.3125rem;
        padding-right: 0;
    }

    .donation-dog-image {
        width: calc(100% - 132px - 132px);
    }
}

@media only screen and (min-width: 1280px) {
    .not-only {
        display: flex;
        align-items: center;
        margin: 90px 40px 0;
    }

    .section-headline {
        font-size: 2.75rem;
    }

    .section-description {
        font-size: 0.9375rem;
    }

    .main-image {
        text-align: center;
    }

    .about {
        display: flex;
        align-items: center;
        margin: 80px 40px;
    }

    .about-image-container {
        text-align: center;
        width: 50%;
    }
    
    .about-description {
        width: 50%;
    }
    
    .about-heading {
        font-size: 35px;
    }
    
    .about-heading:first-child {
        margin-bottom: 0;
    }
    
    .about-text {
        width: 70%;
    }

    .our-friends {
        padding: 80px 40px 100px;
    }

    .our-friends-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    .our-friends-pets {
        flex-grow: 1;
        margin: 60px 50px 0;
    }
     
    .help {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-bottom: 6.25rem;
    }

    .help-item {
        margin: 30px 60px;
    }
    
    .help-items {
        justify-content: space-around;
    }
    
    .help-item-title {
        margin-top: 1.33em;
        margin-bottom: 1.33em;
    }
    
    .in-addition {
        padding-bottom: 100px;
    }

    .donation-subtitle {
        margin: 0 0 20px 0;
    }

    .donation-description {
        text-align: center;
    }

}

@media (hover: hover) {

    .main-button:hover {
        background: #e0b89b;
    }

    .fa-arrow-right-long:hover {
        background-color: #e0b89b;
    }

    .card-link:hover {
        color: #FDDCC4;
    }
  }