.main-header {
    padding-bottom: 0.8125px;
}

.logo-link,
.navigation-item {
    color: #545454;
}

.header-headline {
    margin-top: 32px;
}

.navigation-active-item {
    cursor: pointer;
    border-bottom: 3px solid #e0b89b;
    color:#000;
}

.navigation-item:active {
    color: #e49156;
    border-bottom: 3px solid #e49156;
}

.burger-menu {
    color: #545454;
}

.our-friends {
    padding: 2.6875rem 0.625rem 2.625rem;
    text-align: center;
}

.our-friends-title {
    font-size: 1.5625rem;
    padding-bottom: 2.5rem;
}

.our-friends-details {
    padding-top: 0.25rem;
}

.our-friends-pets {
    flex-wrap: wrap;
    justify-content: center;
}

.fourth-friend-pet,
.fifth-friend-pet,
.sixth-friend-pet,
.seventh-friend-pet,
.eighth-friend-pet {
    display: none;
}

.second-double-arrow:empty, .first-simple-arrow:empty{
    border-radius: 50%;
    border: 2px solid #CDCDCD;
    width: 52px;
    height: 52px;
    line-height: 52px;
    color: #CDCDCD;
    text-decoration: none;
}

.container-for-arrows {
    padding-top: 0.9375rem;
    display: flex;
    justify-content: space-between;
}

.arrow-left {
    text-decoration: none;
    pointer-events: none;
}

.arrow-right {
    cursor: pointer;
    text-decoration: none;
}

.page-button {
    background: #e0b89b;
    border-radius: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    font-family: 'Georgia';
    border: none;
    padding: 0.75rem 1.3125rem;
    text-decoration: none;
    transition: all 0.2s;
}

.page-button:active {
    background: #e49156;
}

.fa-angle-right,
.fa-angles-right {
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #e0b89b;
    width: 52px;
    height: 52px;
    line-height: 52px;
    transition: all 0.2s;
    color: #000;
}

.fa-angle-right:active,
.fa-angles-right:active {
    background: #e49156;
    border: 2px solid #e49156;
}

.fa-angle-left,
.fa-angles-left {
    border-radius: 50%;
    border: 2px solid #CDCDCD;
    width: 52px;
    height: 52px;
    line-height: 52px;
    color: #CDCDCD;
    cursor: default;
}

@media only screen and (min-width: 768px) {
    .our-friends-title {
        padding-bottom: 45px;
    }

    .fourth-friend-pet,
    .fifth-friend-pet,
    .sixth-friend-pet,
    .seventh-friend-pet,
    .eighth-friend-pet {
        display: block;
    }

    .arrow-left {
        margin-left: 10px;
        margin-right: 10px;
    }

    .arrow-right {
        margin-left: 10px;
        margin-right: 10px;
    }

    .page-button {
        padding: 18px 24px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 1280px) {
    
}

@media (hover: hover) {
    .navigation-item:hover {
        cursor: pointer;
        border-bottom: 3px solid #e0b89b;
        color:#000;
    }

    .page-button:hover {
        background: #FDDCC4;
    }

    .fa-angle-right:hover,
    .fa-angles-right:hover {
        border: 2px solid #FDDCC4;
        background-color: #FDDCC4;
    }
}