body {
    width: 1280px;
    margin: 0 auto;
    font-family: 'Georgia';
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-headline {
    color:#F1CDB3;
}

.header-description {
    color:#FFFFFF;
    font-family: 'Arial';
}

.navigation {
    display: flex;
}