.not-only {
    display: flex;
    align-items: center;
    margin-top: 90px;
}

.section-headline {
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color:#FFFFFF;
    margin-top: 0;
    margin-bottom: 12px;
}

.section-description {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color:#CDCDCD;
    margin-top: 42px;
    margin-bottom: 42px;
}

.main-button {
    background: #FDDCC4;
    border-radius: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    font-family: 'Georgia';
    border: none;
    padding: 15px 45px;
    text-decoration: none;
}

.main-button:hover {
    background: #F1CDB3;
}

.main-button:active {
    background: #e49156;
}

.main-image, .puppy-image {
    display: block;
}

.about {
    display: flex;
    align-items: center;
    margin: 80px 40px;
}

.about-image-container {
    text-align: center;
    width: 50%;
}

.about-description {
    width: 50%;
}

.about-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: #545454;
    letter-spacing: 0.06em;
    margin-top: 0;
}

.about-heading:first-child {
    margin-bottom: 0;
}

.about-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    width: 70%;
}

.our-friends {
    padding: 80px 40px 100px;
    background: #F6F6F6;
    text-align: center;
}

.fa-arrow-right-long {
    border-radius: 50%;
    border: 2px solid #F1CDB3;
    width: 52px;
    height: 52px;
    line-height: 52px;
}

.fa-arrow-right-long:hover {
    border-radius: 50%;
    border: 2px solid #F1CDB3;
    width: 52px;
    height: 52px;
    line-height: 52px;
    background-color: #F1CDB3;
}

.fa-arrow-right-long:active {
    background: #e49156;
    border: 2px solid #e49156;
}

.fa-arrow-left-long:empty{
    border-radius: 50%;
    border: 2px solid #CDCDCD;
    width: 52px;
    height: 52px;
    line-height: 52px;
    color: #CDCDCD;
}

.our-friends-title {
    margin: 0 auto;
    max-width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
}

.our-friends-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.our-friends-pets {
    display: flex;
    margin-top: 60px;
}

.friend-pet {
    margin: 0 45px 30px 45px;
    background: #FAFAFA;
    padding-bottom: 30px;
}

.friend-pet:hover {
    transition: width 2s linear 1s;
}

.friend-pet-name {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 30px;
    margin-bottom: 30px;
}

.secondary-button {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    border: 2px solid #F1CDB3;
    padding: 15px 45px;
    background: #FAFAFA;
    border-radius: 100px;
    font-family: 'Georgia';
}

.secondary-button:hover {
    background: #F1CDB3;
}

.secondary-button:active {
    background: #e49156;
    border: 2px solid #e49156;
}

.pets-button {
    margin-top: 60px;
    text-decoration: none;
}

.help {
    padding: 80px 40px 100px;
    text-align: center;
}

.help-title {
    margin: 0 auto;
    max-width: 400px;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    text-align: center;
}

.help-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.help-item {
    margin: 30px 60px;
}

.help-item-title {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.in-addition {
    background: #F6F6F6;
    padding-top: 80px;
    padding-bottom: 100px;
}

.donation-container {
    margin: 0 auto;
    max-width: 915px;
    display: flex;
}

.donation-dog {
    padding-right: 30px;
}

.donation-title {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 0 20px 0;
}

.donation-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0 0 20px 0;
}

.card {
    display: flex;
    justify-content: space-evenly;
    background: #F1CDB3;
    border-radius: 9px;
    padding: 10px 7px;
    margin: 0 0 20px 0;
}

.card-link {
    text-decoration: none;
    color: #545454;
}

.card-link:hover {
    text-decoration: none;
    color: #FDDCC4;
}

.card-link:active {
    text-decoration: none;
    color: #e49156;
}

.card-number {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    margin: 0;
}

.donation-description {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}