body {
    width: 1280px;
    margin: 0 auto;
    font-family: 'Georgia';
}

.header {
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
    padding: 30px 40px 0 40px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-headline {
    color:#F1CDB3;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-bottom: 0;
}

.header-description {
    color:#FFFFFF;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.navigation {
    display: flex;
    font-family: 'Arial';
    font-size: 15px;
    margin-bottom: 0;
    color: #CDCDCD;
}

.navigation-item {
    margin-left: 30px;
}

.navigation-item:hover {
    cursor: pointer;
    border-bottom: 3px solid #F1CDB3;
    color:#FAFAFA;
    padding-bottom: 3px;
}

.general-section {
    display: flex;
    align-items: center;
    margin-top: 90px;
}

.section-headline {
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color:#FFFFFF;
    margin-top: 0;
    margin-bottom: 12px;
}

.section-description {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color:#CDCDCD;
    margin-top: 42px;
    margin-bottom: 42px;
}

.general-section-button {
    background: #F1CDB3;
    border-radius: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    font-family: 'Georgia';
    border: none;
    padding: 15px 45px;
}

.about-section {
    display: flex;
    align-items: center;
    margin: 80px 40px;
}

.about-image-container {
    text-align: center;
    width: 50%;
}

.about-description {
    width: 50%;
}

.about-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    color: #545454;
    letter-spacing: 0.06em;
    margin-top: 0;
}

.about-heading:first-child {
    margin-bottom: 0;
}

.about-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    width: 70%;
}

